{% extends "base.twig" %}

{% block body %}
    <h1>Список Книг</h1>

    <ul>
        {% for book in books %}
            <li>{{ book.getName() }}</li>
            <li>{{ book.getDescription() }}</li>
            <li>{{ book.page_count() }}</li>
        {% endfor %}
    </ul>
{% endblock %}